*{
  box-sizing: border-box;
}

html{
  width: 100%;
  height: 100%;
}
body{
  margin:0;
  border: none;
  padding: 0;
  font-family: Circular,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #2e2f33;
  background-color: #ffffff;
}
.container{
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.nav-header{
  display: block;
  float: left;
  margin: 0;
  max-height: 60px;
}

.navbar{
  position: relative;
  height: 60px;
  width: 100%;
  margin-bottom: 0;
  border: 1px solid transparent;
}

.navbar-logo{
  margin-top:10px;
  margin-bottom:10px;
  width: 132px;
  height: 40px;
  background-size: 132px 40px;
  background-image: url("../img/Spotify_logo_with_text.png");
  background-repeat: no-repeat;
  color:transparent;
  background-color: transparent;
  border: 0;
  float: left;
}
.nav-title{
  float:left;
  font-weight: 300;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 6px;
  padding-top: 1px;
  font-size: 26px;
  color:white;
}
.navbar-fixed-top{
  z-index: 999;
  position: fixed;
  top:0;
}

.navbar-black{
  background-color: black;
  border-color: #2e2f33;
}